.contact-section {
  &__content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
    background-color: whitesmoke;
    .contact-section__map {
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  &__address {
    margin: 1rem;
    padding: 1rem;
    .address__section-content {
      margin: 1rem;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
