.contact-section {
  &__content {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
    background-color: whitesmoke;
    img {
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  &__address {
    p {
      display: inline-block;
    }
  }
}
