.contact-section {
  &__header {
    color: rgba(107, 66, 125, 0.925);
    text-align: center;
  }

  &__content {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;

    .contact-section__map {
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
    }
  }

  &__address {
    .address__section-content {
      margin: 1rem;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
