.testimonial-section {
  margin: 1rem;
  .testimonial__header {
    color: rgba(107, 66, 125, 0.925);
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .testimonial__comment-section {
    grid-template-columns: repeat(3, minmax(100px, 200px));
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    display: grid;
    margin: auto;
    width: 100%;
    max-width: 350px;
    height: 250px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 12px -12px rgba(0, 0, 0, 0.75);

    .comment__user-img {
      grid-column: 1;
      background: lightblue;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      margin: 1rem;
    }

    .comment__user-comment {
      justify-self: start;
      grid-column: 2;
      grid-row: 4;
    }

    h3 {
      grid-column: 1 / span 3;
    }

    p {
      grid-column: 1 / span 3;
      text-align: left;
      padding: 0.5rem;
    }

    .testimonial__comment-user {
      grid-column: 1 / span 3;
      grid-row: 4;
    }
    .testimonial__comment-ratings {
      grid-column: 1;
      .checked {
        color: orange;
      }
    }
  }

  .dots-slides {
    margin-top: 1.5rem;
    text-align: center;

    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: rgba(107, 66, 125, 0.535);
      border-radius: 50%;
      display: inline-block;
    }
  }
}
